<mat-sidenav-container class="journal-sidenav-container" [hidden]="!isAuthtorised()">
  <mat-sidenav #journalFilterNavigator [mode]="'over'" class="journal-sidenav">
    <app-filter-panel [presetListSubject]="presetListSubject.asObservable()"></app-filter-panel>
  </mat-sidenav>
  <mat-sidenav-content class="journal-sidenav-content-wrapper">
    <div class="journal-sidenav-content">
      <span class="journal-header">{{journalHeader}}</span>
      <div class="journal-top-btn-block">
        <div mat-button matTooltip="Info about the action 1" matTooltipPosition="below"
          aria-tooltip="Button that displays and hides a tooltip triggered by other buttons 1"
          [ngClass]="['journal-btn', topButton.cssImageName]" *ngFor="let topButton of topButtonList"
          (click)="topButton.handler(selectedRows, context)">
        </div>
      </div>
      <div class="journal">

        <ag-grid-angular class="journal-grid ag-theme-balham" [rowData]="rowData" [columnDefs]="columnList"
          [pagination]="true" [paginationPageSize]="16" (selectionChanged)="onSelectionChanged($event)"
          (gridReady)="onGridReady($event)" [rowSelection]="rowSelection" [frameworkComponents]="frameworkComponents">
        </ag-grid-angular>

        <div class="journal-right-btn-block">
          <div mat-button matTooltip="Info about the action 1" matTooltipPosition="left"
            aria-tooltip="Button that displays and hides a tooltip triggered by other buttons 2"
            [ngClass]="rightButton.cssImageName" *ngFor="let rightButton of rightButtonList"
            (click)="rightButton.handler(selectedRows, context)">
          </div>
        </div>
      </div>
      <!--div class="journal-pagginator">
        <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div-->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>