.dialog {
  max-width: inherit;
  max-height: inherit;
  width: inherit;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
}

.dialog-name {
  width: max-content;
  margin: auto;
  height: 30px;
  font-size: xx-large;
  font-weight: bold;
  color: #3f51b5;
}

.dialog-cross {
  cursor: pointer;
  margin: 0px 0px 0px auto;
  position: relative;
  right: 0;
  top: 0;
  width: 32px;
  height: 32px;
  transition: transform 0.25s ease-in-out;
}
.dialog-cross:hover {
  transform: rotate(180deg);
}
.dialog-cross:before {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
  transform-origin: center;
}
.dialog-cross:after {
  content: "";
  position: absolute;
  display: block;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.5);
  transform: rotate(-45deg);
  transform-origin: center;
}

.dialog-conteiner {
  max-width: 1000px;
  max-height: inherit;
  width: 1000px;
  height: inherit;
  overflow: hidden;
}

.dialog-message {
  font-size: large;
  margin-top: 10%;
  padding: 20px;
  white-space: pre-line;
  vertical-align: middle;
  text-align: center;
}
