<div class="filter">
  <div class="filter-panel-name-content">
    <span class="filter-panel-name">Параметры фильтрации</span>
    <div class="filter-panel-buttons">
      <div class="filter-panel-buttons-content">
        <div mat-raised-button class="filter-panel-preset-item">
          <mat-form-field>
            <mat-label>Выбрать фильтр</mat-label>
            <mat-select>
              <mat-option *ngFor="let name of presetNameList; let i = index" (onSelectionChange)="selectionChange(i)" [value]="i">{{name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-raised-button class="filter-panel-button-item" (click)="apply()">Применить фильтр</button>
        <button mat-raised-button class="filter-panel-button-item" (click)="cancel()">Отмена</button>
      </div>
    </div>
  </div>
  <div class="filter-content">
    <div class="filter-panel-rows">
      <div class="filter-row"
        *ngFor="let filterItem of presetItemList">
        <div class="form-field filter-field-name">
          <div class="filter-name"><span class="filter-name-infix"></span>{{filterItem.name}}</div>
        </div>
        <input class="form-field filter-field" matInput type="tel" value="{{filterItem.value}}">
      </div>
    </div>
  </div>
</div>