<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="accountDataFormGroup">
    <form [formGroup]="accountDataFormGroup">
      <ng-template matStepLabel>Аккаунт</ng-template>
      <div class="step-form-1-2">
        <div class="form-field">
          <mat-form-field>
            <mat-select placeholder="Тип учетной записи" formControlName="accountRole" name="accountRole">
              <mat-option *ngFor="let role of accountRoles" [value]="role.id">
                {{role.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input matInput formControlName="nickName" placeholder="Никнейм" name="nickName" required>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input matInput formControlName="login" placeholder="Логин" name="login" required>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input matInput formControlName="password" placeholder="Пароль" name="password" type="password" required>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input matInput formControlName="passwordRepeat" placeholder="Повторите пароль" name="passwordRepeat"
              type="password" required>
          </mat-form-field>
        </div>
      </div>
      <div class="form-button-block-column">
        <button class="form-button" mat-raised-button color="primary" (click)="goBackFn(router)"
          matStepperPrevious>Вернуться</button>
        <button class="form-button" mat-raised-button color="primary" matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="personalDataFormGroup">
    <form [formGroup]="personalDataFormGroup">
      <ng-template matStepLabel>Персональные данные</ng-template>
      <div class="step-form-1-2">
        <div class="form-field">
          <mat-form-field>
            <input matInput formControlName="name" placeholder="Имя" name="name" required>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input matInput formControlName="surName" placeholder="Фамилия" name="surName" required>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input matInput formControlName="lastName" placeholder="Отчество" name="lastName" required>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input matInput [matDatepicker]="birthDayPicker" placeholder="Дата рождения" formControlName="birthDay">
            <mat-datepicker-toggle matSuffix [for]="birthDayPicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDayPicker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input type="number" matInput formControlName="phone" placeholder="Номер телефона" name="phone" required>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field>
            <input type="email" matInput formControlName="email" placeholder="E-mail" name="email" type="email"
              required>
          </mat-form-field>
        </div>

      </div>
      <div class="form-button-block-column">
        <button class="form-button" mat-raised-button color="primary" matStepperPrevious>Назад</button>
        <button class="form-button" mat-raised-button color="primary" matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="addressDataFormGroup">
    <form>
      <ng-template matStepLabel>Адрес</ng-template>
      <div class="step-form-1-2">
        <app-address-kladr [(address)]="address"></app-address-kladr>
      </div>
      <div class="form-button-block-column">
        <button class="form-button" mat-raised-button color="primary" matStepperPrevious>Назад</button>
        <button class="form-button" mat-raised-button color="primary" matStepperNext>Далее</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="fourFormGroup">
    <form [formGroup]="fourFormGroup">
      <ng-template matStepLabel>Пользовательское соглашение</ng-template>
      <div class="step-form">
        <div class="client-agreement" [innerHTML]="agreementHTML"></div>
        <div class="client-agreement-checkbox-content">
          <mat-checkbox formControlName="isAgree"></mat-checkbox>
          <span class="client-agreement-checkbox-text"> Я подтверждаю, что
            ознакомлен со всеми
            пунктами настоящего
            Соглашения и безусловно принимаю их.</span>
        </div>
      </div>
      <div class="form-button-block-column">
        <button class="form-button" mat-raised-button color="primary" matStepperPrevious>Назад</button>
        <button class="form-button" mat-raised-button color="primary" [disabled]="!isAgree"
          (click)="onSubmit()">Принять</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>