<div class="content">
  <span class='header'>Рабочий график</span>
  <div class='calendar'>
    <!--<full-calendar #calendar defaultView="dayGridMonth" [header]="{
        left: 'prev,next',
        center: 'title',
        right: ''
      }" [footer]="{
        left: 'today, dayGridMonth, timeGridWeek, timeGridDay, listWeek'
      }" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [locales]='locales' [selectable]='true'
      [height]=535
      [themeSystem]='themeSystem'>
    </full-calendar>-->
  </div>
</div>
