<div class="main-page">

  <!-- Main conten -->
  <div class="main">
    <header [hidden]="!isAuthtorised()" class="header">
      <router-outlet name="headerOutlet"></router-outlet>
    </header>

    <div [hidden]="isAuthtorised()">
      <router-outlet></router-outlet>
    </div>
    <mat-sidenav-container class="main-full-page" [hidden]="!isAuthtorised()">
      <mat-sidenav #menuNavigator [mode]="'push'" class="example-sidenav">
        <app-tree-flat-overview></app-tree-flat-overview>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>