<mat-toolbar class="header" color="primary">
  <mat-toolbar-row>
    <div class="menu-block">
      <button mat-icon-button (click)="sideNavToggle()">
        <i class="material-icons">apps</i>
      </button>
    </div>
    <div class="buttons-wraper">
      <div class="buttons">

        <mat-icon matBadge='5' matBadgeHidden='false' matBadgeColor="warn">notification_important</mat-icon>

        <button mat-icon-button (click)="editAccount()">
          <i class="material-icons">account_circle</i>
        </button>

        <span class="account-name">Добрый день, {{account.$nickName}}</span>

        <button mat-raised-button (click)="signOut()">
          Log out
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>