.mat-toolbar-row {
  display: flex;
  padding: 10px;
}

.buttons-wraper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.buttons {
  width: 600px;
  display: inline-flex;
  justify-content: space-between;
  position: relative;
}

.account-name {
  width: 300px;
  height: 100%;
}

.menu-block {
  margin: 10px;
}
