<div class="dashboard-form">
    <span class="dashboard-header-xxlarge">Редактирование сотрудника</span>
    <div class="container">
        <person-info-editor [user]='user' (onChangeUser)='onChangeUser($event)'></person-info-editor>
        <div class="static-button-block">
            <div class="form-button-block-column personal-edit-button-block">
                <button class="form-button" mat-raised-button (click)="back()" color="primary">Вернуться</button>
                <button class="form-button" mat-raised-button (click)="update()" color="primary">Обновить</button>
            </div>
        </div>
    </div>
</div>
