<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node (click)="nodeClick(node)" *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding
    [ngStyle]="{'margin-left': node.$offset}">
    <div class="node-clicked" (click)="nodeClick(node)">
      <div [ngClass]="node.$image"></div>
      <span class="node-name">{{node.$name}}</span>
    </div>
  </mat-tree-node>

  <mat-tree-node matTreeNodeToggle [attr.aria-label]="'toggle ' + node.$sysName"
    *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding [ngStyle]="{'margin-left': node.$offset}">
    <mat-icon *ngIf="node.$expandable" class="mat-icon-rtl-mirror">
      {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
    </mat-icon>
    <div class="node-clicked" (click)="nodeClick(node)">
      <div [ngClass]="node.$image"></div>
      <span class="node-name">{{node.$name}}</span>
    </div>
  </mat-tree-node>
</mat-tree>